<div [ngClass]="role === 'store' ? 'container mt-5' : ''">
  <div class="row m-3">
    <div style="height: 400px" class="card text-center col p-3 col-md-5 me-4">
      <div style="margin-top: 80px">
        <div class="mb-2">
          <img [src]="userDto.photo ? userDto.photo : 'assets/product.png'" width="80px">
        </div>
        <div class="mb-2">
          <h2> {{ userDto.prenom + ' ' + userDto.nom }} </h2>
          <small
            class="form-text text-muted"> {{ userDto.address?.street + ' ' + userDto.address?.city + ' ' + userDto.address?.zipCode  }}
          </small>
        </div>
      </div>
    </div>

    <div class="card col p-3 col-md-6 ms-5">
      <div class="col-md-10 mx-auto">
        <div class="mb-3 mt-5">
          <h2> Changer le mot de passe </h2>
        </div>

        <div class="col mb-5">
          <div class="mb-3">
            <input class="form-control" type="password" placeholder="Ancien mot de passe"
                   [(ngModel)]="changePassword.ancienMotDePasse">
          </div>


          <div class="mb-3">
            <input class="form-control" type="password" placeholder="Nouveau mot de passe"
                   [(ngModel)]="changePassword.motDePasse">
          </div>


          <div class="mb-3">
            <input class="form-control" type="password" placeholder="confirmer mot de passe"
                   [(ngModel)]="changePassword.confirmMotDePasse">
          </div>
        </div>

        <div class="text-center ">
          <button class="btn btn-danger" type="button" [routerLink]="'/' + role +'/profil'">
            <em class="fas fa-cancel"></em>&nbsp;Annuler
          </button>

          <button class="btn btn-primary ms-5 me-3" type="submit" (click)="updatePassword()">
            <em class="fas fa-save"></em>&nbsp;Enregistrer
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
