<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <!-- App-Menu -->
    <div class="card col-md-2 me-2">
      <div class="col pe-0 ps-0">
        <a [routerLink]="'/admin/statics'" >
          <div class="card mt-4 mb-4 border-none">
             <img src="assets/logo.png"/>
          </div>
        </a>
        <div>
          <app-menu></app-menu>
        </div>
      </div>
    </div>

    <div class="card col-md-10 ps-0 pe-0 bg-main border-none">
      <div class="col ps-0 pe-0 d-flex flex-column justify-content-between">
        <!-- App Header -->
        <div class="card  p-3 mb-2 min-height-80 ">
          <app-header
            [fullName]="fullName"
          ></app-header>
        </div>
        <!-- App Root -->
        <div class="card mb-2" style="min-height: 450px">
          <app-loader></app-loader>
          <router-outlet></router-outlet>
        </div>
        <!-- App Footer -->
        <div class="card min-height-80 text-center pt-4">
          <h3>&copy;Jad-Shop 2023, all rights reserved.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
