<div class="row m-1 custom-border pt-1 pb-1">
  <div class="col-md-1 p-2  border-right">
    <img [src]="cltFrs.photo ? cltFrs.photo : 'assets/inconnu.png'" width="80px">
  </div>

  <!-- Détails articles -->
  <div class="col-md-4 border-right mt-2">
    <div class="col">
      <div class="d-flex flex-row">
        <div class="col-md-1"><i class="fas fa-info-circle  blue-color"></i></div>
        <div class="col-md-11 text-start ms-2">{{ cltFrs?.nom }} </div>
      </div>
      <div class="d-flex flex-row">
        <div class="col-md-1"><i class="fas fa-info-circle  blue-color"></i></div>
        <div class="col-md-11 text-start ms-2">{{ cltFrs?.prenom }} </div>
      </div>
      <div class="d-flex flex-row ">
        <div class="col-md-1 ms-1"><i class="fas fa-phone  blue-color"></i></div>
        <div class="col-md-11 text-start ms-2">{{ cltFrs?.telephone }}</div>
      </div>
    </div>
  </div>


  <!-- Details Catégories -->

  <div class="col-md-4 border-right mt-2">
    <div class="d-flex flex-row">
      <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
      <div class="col-md-11 text-start ms-2">{{ commande.code }}</div>
    </div>
    <div class="d-flex flex-row">
      <div class="col-md-1"><i class="fas fa-calendar  blue-color"></i></div>
      <div class="col-md-11 text-start ms-2">{{ commande.dateCommande }}</div>
    </div>
    <div class="d-flex flex-row ">
      <div class="col-md-1 "><i class="fas fa-cart-arrow-down blue-color"></i></div>
      <div class="col-md-11 text-start ms-2">{{ commande.etatCommande }}</div>
    </div>
  </div>


  <!-- Button d'actions -->
  <div class="col-md-3 pt-3">
    <button *ngIf="origin === 'client' && commande.trackingNumber === null" class="btn btn-link" type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+commande.id">
      <i class="fa fa-truck" aria-hidden="true">&nbsp;</i>
      Tracking number
    </button>
  </div>
</div>

<div class="modal fade" id="exampleModal{{commande.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title col-md-11 text-center fs-5" id="exampleModalLabel">Ajouter un code de suivi</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="code de suivi" name="track" [(ngModel)]="track">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <em class="fas fa-cancel"></em>&nbsp;Annuler
        </button>
        <button type="button" class="btn btn-primary" (click)="addTrack(commande)" [disabled]="!track" data-bs-dismiss="modal">
          <i class="fa fa-check" aria-hidden="true"></i>
          &nbsp;Ajouter
        </button>
      </div>
    </div>
  </div>
</div>
