<div class="container my-container">
  <div class=" card">
    <div class="card-header text-center">
      <h1> Sign in </h1>
      <hr>
    </div>
    <div class="p-3">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="authRequest.email" >
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="authRequest.password">
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-success ms-5" (click)="login()"><em class="fas fa-check"></em>&nbsp;Sign in</button>
        <a [routerLink]="'/store/register'" class="btn btn-link me-5">Register</a>
      </div>
    </div>
  </div>
</div>
