<div class="container">
  <div class="card col-md-10 mx-auto mt-5" style="min-height: 400px !important;">
    <h1 class="text-center card-header p-3">
      <strong>Contact Us</strong>
    </h1>
    <div class="col col-md-8 mx-auto">
      <div class="mb-3 mt-2">
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name">
      </div>

      <div class="mb-3">
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
      </div>

      <div class="mb-3">
        <textarea class="form-control" placeholder="Message" name="message" [(ngModel)]="message" style="height: 150px !important;"></textarea>
      </div>

      <div class="text-center mb-3">
        <button class="btn btn-warning w-25" (click)="send()"> Send!</button>
      </div>
    </div>
  </div>
</div>
