<div class="btn-group ">
  <button type="button" class="btn btn-light">
    <em class="fas fa-angle-double-left"></em>
  </button>
  <button type="button" class="btn btn-light">
    <em class="fas fa-angle-left"></em>
  </button>
  <button type="button" class="btn btn-light">
    1
  </button>
  <button type="button" class="btn btn-light">
    2
  </button>
  <button type="button" class="btn btn-light">
    3
  </button>
  <button type="button" class="btn btn-light">
    <em class="fas fa-angle-right"></em>
  </button>
  <button type="button" class="btn btn-light">
    <em class="fas fa-angle-double-right"></em>
  </button>
</div>
